.breadcrumb {
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-family: var(--ff-heading);
    font-weight: var(--fw-bold);
    color: var(--clr-cta);
}

.breadcrumb img {
    width: 40px;
}

.blogpost__wrapper {
    padding-block: 50px 100px;
}

.blogpost {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.content {
    gap: 20px;
}

.blogpost h1 {
    text-align: center;
}

.post-image {
    border-radius: 50%;
    max-width: 280px;
    max-height: 280px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    grid-area: 2;
    justify-self: center;
}

.ingredients, .instructions, .blogpost ul, .blogpost ol {
    gap: 10px;
}

.blogpost ul, .blogpost ol {
    list-style-position: inside;
}

.modal-imagecontainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: min(100% - 100px, 600px);
    text-align: right;
}

.modal-imagecontainer .icon-close {
    margin-bottom: 10px;
}