/* Home Page */
.intro {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/intro.jpg);
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.intro h1 {
    color: var(--clr-white);
}

.featured {
    display: grid;
    grid-template-columns: 1fr;
    margin-block: 50px;
}

.featured, .benefits__wrapper {
    gap: 30px;
}

.featured, .featured-post, .benefits__wrapper {
    align-items: center;
}

.featured h2, .benefits h2 {
    color: var(--clr-heading);
}

.featured-container {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 90px;
    gap: 50px;
    width: 100%;
}

.featured-container .loader {
    grid-area: 1/2;
}

.featured-container .error {
    grid-column: 1/4;
}

.featured-container, .benefits h2, .benefits__action {
    text-align: center;
}

.benefits__wrapper {
    justify-content: center;
}

.featured-post {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.25s;
}

.featured-post, .benefits-image {
    border-radius: 20px;
}

.featured-post h3 {
    padding: 30px;
}

.featured-image {
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 280px;
}

.icon-arrow {
    display: none;
    border: none;
    background: transparent;
    transition: transform 0.25s;
}

.benefits__wrapper {
    flex-direction: column-reverse;
    margin-block: 200px;
}

.benefits {
    gap: 20px;
}

.benefits ul {
    gap: 5px;
}

.benefits-image {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    max-width: 400px;
}

.subscribe-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: white;
    padding: 30px 30px 50px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 20px;
    width: min(100% - 50px, 1200px);
    margin-inline: auto;
}

.subscribe-content {
    align-items: center;
    gap: 30px;
}

.subscribe-content h2 {
    text-align: center;
}

#signup-form {
    gap: 30px;
    align-items: center;
}

.signup-form__wrapper {
    gap: 5px;
}

.subscribe-error {
    display: none;
    color: var(--clr-error);
    font-weight: var(--fw-bold);
}

.subscribe-success {
    gap: 50px;
    align-items: center;
    text-align: center;
}
