    @media (min-width: 600px) {

    body {
        font-size: var(--fs-300);
    }

    h1 {
        font-size: var(--fs-600);
    }

    h2 {
        font-size: var(--fs-500);
    }

    h3 {
        font-size: var(--fs-400);
    }

    /* Header */
    header {
        flex-direction: column;
        align-items: center;
        position: relative;
        gap: 20px;
    }

    .logo {
        max-width: 400px;
    }

    nav {
        top: 131px;
        display: flex;
        position: unset;
        animation: none;
        width: 100%;
        justify-content: flex-start;
    }

    nav ul {
        flex-direction: row;
        gap: 20px;
        padding: unset;
    }

    .display-navlogo {
        display: block;
    }

    .scrolled {
        position: fixed;
        padding-block: 10px;
        padding-inline: 20px;
        top: 0px;
    }

    #hamburger-icon {
        display: none;
    }
    /*  */

    .intro {
        min-height: 60vh;
    }

    .subscribe-container {
        padding: 50px 50px 100px;
    }

    .about h1 {
        text-align: left;
        max-width: 100%;
    }

    .search-sort {
        align-items: flex-end;
    }

    .search-sort h2 {
        font-size: var(--fs-400);
    }
}

@media (min-width: 900px) {
    .split {
        flex-direction: row;
    }

    .intro .container {
        text-align: center;
    }

    .featured {
        padding-block: 100px;
    }

    .featured__wrapper {
        gap: 20px;
    }

    .carousel-buttons {
        grid-area: 1/1;
        justify-content: flex-end;
        gap: 10px;
    }

    .carousel-button {
        width: 50px;
        display: block;
    }

    .carousel {
        grid-area: 2;
        justify-content: center;
    }

    .carousel-inner {
        gap: 20px;
        justify-content: flex-start;
        max-width: 550px;
        margin-inline: 0;
    }

    .featured-post {
        box-shadow: none;
        width: 265px;
        padding: 10px;
        margin: 0;
    }
    
    .featured__wrapper h2 {
        grid-area: 1/1;
        margin-inline: 10px;
    }

    .featured-post:hover {
        transform: scale(1.05);
    }

    .featured-post h3 {
        font-size: var(--fs-300);
    }

    .featured-image {
        border-radius: 20px;
        min-height: 260px;
    }

    .featured__action {
        display: none;
    }

    /* Footer */
    footer {
        grid-template-columns: 1fr auto 1fr;
    }

    .social {
        justify-self: start;
    }

    .footer-menu {
        justify-self: end;
    }

    .logo-bottom {
        width: 40px;
        display: block;
        transition: transform 0.25s;
    }

    .logo-bottom:hover {
        transform: scale(1.2);
    }

    .copy {
        grid-area: 2/-3;
    }
    /*  */

    .subscribe-success {
        margin-top: 50px;
    }

    #signup-form {
        align-items: center;
    }

    .cardcontainer__wrapper {
        gap: 100px;
    }

    .card {
        gap: 50px;
        padding: 0px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

    .card:hover {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }

    .card > * {
        flex: 1;
    }

    .card-content {
        gap: 20px;  
    }

    .card-action {
        align-self: center;
    }

    .card-button {
        display: block;
        max-width: 250px;
    }

    .card-image {
        border-radius: 20px 0px 0px 20px;
        height: 300px;
    }

    .breadcrumb {
        padding-top: 30px;
    }

    .blog, .blogpost, .about, .contact {
        padding-block: 100px 200px;
    }

    .blogpost__wrapper {
        grid-template-columns: 1fr auto;
        gap: 50px;
    }

    .blogpost-content {
        display: flex;
        flex-direction: column;
        grid-area: 2;
        gap: 20px;
        justify-content: center;
    }

    .blogpost-content h1 {
        text-align: left;
    }

    .description {
        align-self: center;
        grid-area: 2/2;
    }

    .blogpost__image-container {
        grid-area: 2/1;
        align-self: center;
        transition: all 0.25s;
    }

    .blogpost-image {
        width: 380px;
        height: 380px;
    }

    .blogpost-image:hover {
        cursor: zoom-in;
        filter: drop-shadow(0px 4px 10px var(--clr-black));
    }

    .ingredients {
        grid-area: 3/1;
    }

    .instructions {
        grid-area: 3/2;
    }

    .contact-form input, .contact-form textarea {
        min-width: 300px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: min(100% - 200px, 1200px);
    }

    .carousel-inner {
        max-width: 800px;
        gap: 10px;
    }

    .featured-post {
        width: 260px;
    }
}
